<h2>Shopping Cart</h2>
<div class="row col-8" *ngIf="cart$ as shoppingCart">
    <p>
        There are {{ shoppingCart.totalItemsCount }} items in your shopping shoppingCart.
        <button [disabled]="shoppingCart.items.length === 0" (click)="clearShoppingCart()" mat-stroked-button class="clearBtn">Clear All</button>
        

    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="quantity">Quantity</th>
                <th class="price">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of shoppingCart.items">
                <td><div [style.backgroundImage]="'url(' + item.product.imgUrl + ')'" class="img-thumbnail"></div></td>
                <td>{{ item.product.name }}</td>
                <td><app-item-quantity [product]="item.product" [shopping-cart]="shoppingCart"></app-item-quantity></td>
                <td class="price">{{ item.totalPrice | currency: 'USD' : '$'}} </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="price">{{shoppingCart.totalPriceForAllItems | currency: 'USD' : '$'}}</th>
            </tr>
        </tfoot>
    </table>
   <div class="checkout">
    <button routerLink="/checkout" [disabled]="shoppingCart.items.length === 0" mat-raised-button color="primary" class="checkoutBtn" >Check Out</button>
   </div>
</div>