<div class="row col-6">
  <h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.val.shipping.name }}</td>
      <td>{{ order.val.datePlaced | date}}</td>
      <td>
        <button mat-icon-button>
          <mat-icon  [routerLink]="['/orders/', order.key]">open_in_new</mat-icon>
        </button>
      </td>
      <td>
        <button style="font-size: 5px;" mat-icon-button color="warn">
          <!-- <mat-icon (click)="deleteOrder(order.key)">delete</mat-icon> -->
        </button>
      </td>
    </tr>
  </tbody> 
</table>
</div>