.quantity{
    width: 200px;
    text-align: center;
}

.price{
    width: 160px;
    text-align: right;
}

.btn{
    width: 80px;
}

.img-thumbnail{
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 100%;
}