.quantity{
    width: 200px;
    text-align: center;
}

.price{
    width: 160px;
    text-align: right;
}

.clearBtn{
    width: 80px;
    margin-left: 10px;

}

.checkoutBtn{
    width: 150px;
}

.img-thumbnail{
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 100%;
}

.checkout{
    margin-bottom: 50px;
}