<h2>Shopping Cart</h2>
<ng-container *ngIf="cart$ as shoppingCart">
    <p>
        There are {{ shoppingCart.totalItemsCount }} items in your shopping shoppingCart
    
    .
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of shoppingCart.items">
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.totalPrice}} </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>