<h2>Shopping Cart</h2>
<ng-container *ngIf="cart$ as shoppingCart">
    <p>
        There are {{ shoppingCart.totalItemsCount }} items in your shopping shoppingCart
    
    .
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productId of shoppingCart
        
        .allProductIds">
                <td>{{ shoppingCart.items[productId].product.name }}</td>
                <td>{{ shoppingCart.items[productId].quantity }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</ng-container>