
<footer class="bg-primary text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Website under construction</h5>
  
          <p>
            For direct help, please contact customer service 7/24 at 313-111-1111
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Help & Contact</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Seller Center</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contact Us</a>
            </li>
            <li>
              <a href="#!" class="text-white">Returns</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Buy</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Money Back Guarantee</a>
            </li>
            <li>
              <a href="#!" class="text-white">Registration</a>
            </li>
            <li>
              <a href="#!" class="text-white">Queries</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://online-shopping-fe43b.web.app/">online-shopping-fe43b.web.app</a>
    </div>
    <!-- Copyright -->
  </footer>